*{
    margin: 0;
    padding: 0;
}

.container-fluid{
    background-color: rgb(202, 190, 190);
    height: 100px;
}
.navbar-brand{
    font-weight: 1000;
}

.nav-item{
    font-weight: bold ;
    color: rgb(54, 51, 51);
}

